* {
  margin: 0;
}

.image-container {
  display: flex;
  gap:10px;
}

.images {
  border-style: double;
  border-color: lightblue;
  border-radius: 20px;
  border-width: 10px;
  width:500px
}

p {
  color:lightskyblue;
}

h1 {
  color:rgb(79, 153, 182);
  font-family:Georgia
}

h2 {
   color:lightskyblue;
   font-family:Georgia
}

a {
  font-size: 30px;
  color:lightskyblue;
}

body {
  background: white;
  display: wrap;
}

.parent {
  border: 3px solid lightskyblue;
  height: 60px;
  max-width
}

.children a:hover .active {
  color:lightskyblue;
}

.children a {
  position: relative;
}

.children a::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  height: 1px;
  width: 0px;
  background:lightskyblue;
  transition: width 350ms ease;
}

.children a:hover::after {
  width:100%
}